# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
dist/
build/
*.exe

# pytest
pytest_cache/

# Python Virtual Environment
*venv*/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Visual Studio Code
.vscode/
.settings/
.history/
.history.rec/

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db